  <div class="form-group">

    <%= form_for([current_user,@job],html: {:role => 'form', :class => 'form'}) do |f| %>

      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, :placehodler => 'Name', required: true, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location, 'Location' %>
        <%= f.text_field :location, :placehodler => 'Location', :class => "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :description, 'Description' %>
        <%= f.text_area :description, :placehodler => 'Description', :class => "form-control" %>
      </div>

	  <div class="form-group">
        <%= f.label :deadline, 'Last Day for Application' %>
        <%= f.date_select :deadline, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save Job", value: 'Create a Job', :class => "btn btn-primary " %>
        <%= f.submit "cancel", value: 'Cancel', :class => "btn btn-default " %>
      </div>
      
	<% end %>

  </div>
