<h1><%= @title %></h1>
Email: <%= @user.email %> <br>
Display Name: <%= @user.username %> <br>
Given Name: <%= @user.given_name %> <br>
Family Name: <%= @user.family_name %> <br>
Tagline: <%= @user.tagline %> <br>
Bio: <%= @user.bio %> <br>
Permanent Link: <%= user_url(@user) %> <br>
<div class="form-group">
    <div>
      <%= image_for_user(@user) %>
    </div>
  </div>
<%= link_to 'edit', edit_user_path(@user) if @user.is_owner?(@user) || @user.admin? %>

<%= link_to 'delete user', @user, method: :delete, data: { confirm: 'Are you sure?' }  if @user.is_owner?(@user) || @user.admin? %>


