<h1>Users#show</h1>
Email: <%= @user.email %> <br>
Display Name: <%= @user.display_name %> <br>
Given Name: <%= @user.given_name %> <br>
Family Name: <%= @user.family_name %> <br>
Tagline: <%= @user.tagline %> <br>
Bio: <%= @user.bio %> <br>
