<div class="home-banner">

  <div class="logo">
    <span>Codium</span><%= image_tag("codium_logo.png", :alt => "Codium", :width => "200px") %>
    <p>coding moments</p>
  </div>

</div>

<div class="nav_links">
  <div class="nav_links_left">
    <%= link_to 'Home', root_path %> :  :
    <%= link_to 'Posts', posts_path %> 
  </div>
  <div class="nav_links_right">
    <% unless user_signed_in? %>
    :  : <%= link_to 'Login', new_user_session_path %> 
    <% end %>

    <% if user_signed_in?%>
    <span class="user_email_show"><%= current_user.email if current_user %></span>
    :  : <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
</div>