<nav id='affix'>
  <div class="left-menu">
   <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Students", users_path %></a></li>
    <% if user_signed_in? %>
    <li><%= link_to "Jobs", jobs_path %></li>
    <% end %>
    <li><%= link_to "Blog Feed", '/blogfeed' %></li>
  </ul>
</div>
<div class="login">
  <% if user_signed_in? %>
  <ul class="home-list">
    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
    <% else %>
    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
    <% end %>
    <% if user_signed_in? %>
    <li class="projects-dropdown" style="display:relative;"><a href="#" class="projects">Projects</a>
      <ul class="sub-menu">
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Create Projects', new_project_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Projects', projects_path, :class => 'navbar-link' %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div> <!-- end login div -->


<div class="notices">
  <% if notice || alert || flash[:error] %>
  <p class="text-notice"><%= notice %></p>
  <p class="text-alert"><%= alert %></p>
  <p class="text-danger"><%= flash[:error] %></p>
  <% end %>
</div>
</nav>
<script>

$('.projects-dropdown').on('mouseenter', function(){
  $('.sub-menu').show();
})
$('.projects-dropdown').on('mouseleave', function(){
  $('.sub-menu').hide();
})

</script>