<%= render 'shared/nav' %>

<div class="container-fluid">
  <% @allitems.each do |item| %>
      <h4>By <%= item[:dc_creator] %> on <%= item[:channel] %></h4>
      <h5><%= raw item[:title] %></h5>
      <h6>Posted <%= item[:pubDate].strftime("%b %d %Y %I:%m%p") %></h6>
      <p><%= raw item[:description] %></p>
  <% end %>
</div>

