<div class="slide" id="slide1" data-stellar-background-ratio="0.5">

	<div class="wrapper" data-stellar-ratio="2">

		<div id="heading">	
			<h1>WDI Sydney 2014</h1>
		</div> 

	</div>
	

</div><!--End Slide 1-->

<%= render 'shared/nav' %>

<script>
$(document).ready(function(){
	var $affixTop = $('#affix');
	var $imageHeight = $('#slide1').height();

	$(window).on('scroll', function(){
		if (this.scrollY >= $imageHeight) {
			$affixTop.slideDown(200);
		}
		if (this.scrollY <= $imageHeight) {
			$affixTop.hide();
		}	
	});
});
</script>

<script>
$(document).ready(function(){
	$('html, body').animate({ scrollTop: 0 }, 'slow');
});
</script>

<style>
#affix { display: none; position: fixed; top: 0;}
</style>


<div class="slide" id="slide2" data-stellar-background-ratio="0">
	<div  data-stellar-ratio="1"> 
		<div id="stack" class="container-fluid">
			<h2>The Stack</h2>
		
		</div>
	</div>

</div><!--End Slide 2-->


<div class="slide" id="slide3" data-stellar-background-ratio="0">
	<div class="wrapper text-quote" data-stellar-ratio="1"> 
		<h2><strong>The team</strong></br>Nick : : Alberto : : Federico : : Ed : : Lauren : : Emily : : Luke M : : Sam : : Luke S : : Pranava : : Marcus</h2>
	</div>
</div><!--End Slide 3-->

<div class="slide" id="slide4" data-stellar-background-ratio="0">
	
	<div  class="clearfix">
		<div id="home-section4" class="container-fluid clearfix">
			<h2>Students and Staff</h2>
			<div class="row clearfix">
				<div class="col-sm-4 students">
					<h3>Students</h3>
					<%= link_to image_tag('graduation-cap-icon.svg', height: "200px" ), users_path %>
					<p><%= link_to 'View all students', users_path %></p>
				</div>
				<div class="col-sm-4 teachers">
					<h3>Daniel Tsui</h3>
					<p>Instructor/Developer In Residence at General Assemb.ly. Passion in Javascript and Ruby on Rails</p>
					<%= image_tag('dt.jpg') %>
				</div>
				<div class="col-sm-4 teachers">
					<h3>Taryn East</h3>
					<p>Instructor/Developer at General Assemb.ly. Passion in Ruby on Rails.</p>
					<%= image_tag('taryn.jpg') %>
				</div>
			</div>
		</div>
	</div>
	


</div><!--End Slide 4-->



<script>
$(".skillbox").mouseenter(function() {
	$(this).children('.info').first().animate({marginTop: '-=240px'}, 700);
	$(this).addClass('img-grey');
	$(this).removeClass('img-color');
	console.log('mouseenter');
});
$(".skillbox").mouseleave(function() {
	$(this).children('.info').first().animate({marginTop: '+=240px'}, 700);
	$(this).removeClass('img-grey');
	$(this).addClass('img-color');
	console.log('mouseleave');
});
</script>







