
<div id="posthead">
  <h1 class="posttitle"><%= "#{@post.title}" %></h1>
  <h2 class="subtitle"><%= @post.subtitle %></h2>
  <p><%= @post.tag_list %></p>
  <p class="author">Post author goes here</p>
</div>

<div id="postbody">
  <%= @post.body %>
</div>

<div id="postfooter">
  <h4 class="written">Written By</h4>
  <h3 class="authorname">Author name</h3>
  <p class="authorbio">Bio goes here.</p>
</div>

<div class="comments"> <!-- all comments -->
  
  <% @comments.each do |comment| %>

  <div class="comment"> <!-- individual comment div -->
  
    <p><%= comment.content%></p> <!-- truncate this  -->
    <p>Posted by <em><%= comment.user.email %></em> on <em><%= comment.created_at.to_formatted_s(:short)%></em></p>

    <!-- add delete link -->

  </div> <!-- end individual comment div -->

  <% end %>

</div> <!-- end all comments -->

<h5>Add a Comment:</h5>

<div class="comment_form">

<%= form_for([@post, @post.comments.build]) do |f| %>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.hidden_field :user_id, :value => current_user.id %><br>
  <%= f.hidden_field :post_id, :value => @post.id %>

<%= f.submit %>

<% end %>
  
</div>
