<!DOCTYPE html>
<html>
<head>
  <title>Codium</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/hwr3kux.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p class="error"><%= flash[:error] %></p>

<nav>
  <%= render 'shared/newstory' %>
</nav>

<div class="logo-header">
  <%= render 'shared/header' %>
</div>

  
<div class="content clearfix">
  <%= yield %>
</div>

<footer class="clearfix">
  <%= render 'shared/footer' %>
</footer>
</body>
</html>
