<!DOCTYPE html>
<html>
<head>
  <title>Codium</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,100,900' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <%= render 'shared/nav' %>
    <% if notice || alert || flash[:error] %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="error"><%= flash[:error] %></p>
    <% end %>

  <%= yield %>

  </div>

  <footer>
    <%= render 'shared/footer' %>
  </footer>

</body>
</html>
